/* Стилизизация элемента profile__edit-button */
.profile__edit-button {
 margin: 35px 0 0 18px;
 padding: 0;
 width: 24px;
 height: 24px;
 align-self: flex-start;
 /* Поменял на img так как не работало стандартное затемнение при ховере  */
 /* background-image: url(../../../images/profile/__edit-button.svg); */
 border: none;
 background-color: black;
 cursor:pointer;
}


/* Убираем выделение кнопки при фокусе и активации, для соответствия макету */
.profile__edit-button:active, .profile__edit-button:focus {
  outline: none;
}
