/* Общий внешний вид для ссылок и кнопок*/
.transparency {
  opacity: 1;
  cursor:pointer; /* всегда на таких объектах курсор как рука */
}

.transparency:hover {
  transition: opacity 0.2s ease;
  opacity: 0.6;
}
