/* Стилизизация элемента element__text */
.element__text {
  margin: 0;
  font-family: Inter, 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  padding: 25px 0 31px 21px;
  max-width: 218px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
