/* Стилизизация элемента profile__add-butto */
.profile__add-button {
  width: 150px;
  height: 50px;
  margin: 0;
  padding: 0;
  justify-self: flex-end;

  border: none;
  background-color: black;
  background-image: url(../../../images/profile/__add-button.svg);
  background-size: cover;

}

/* Убираем выделение кнопки при фокусе и активации, для соответствия макету */
.profile__add-button:active, .profile__add-button:focus {
 outline: none;
}

@media screen and (max-width: 640px) {
  .profile__add-button {
    justify-self: center;
    width: 282px;

    /* Замена картинки на больший размер, масштабирование привело бы к искажению картинки */
    background-image: url(../../../images/profile/__add-button_big.svg);
  }
  }


