/* Стилизизация элемента profile__edit-button */
.profile__edit-button {
 margin: 0 0 0 18px;
 padding: 0;
 width: 24px;
 height: 24px;
 border: none;
 background-color: black;
 background-image: url(../../../images/profile/__edit-button.svg);
 background-size: cover;
}


/* Убираем выделение кнопки при фокусе и активации, для соответствия макету */
.profile__edit-button:active, .profile__edit-button:focus {
  outline: none;
}


@media screen and (max-width: 640px) {
  .profile__edit-button {
    margin: 0 0 0 12px;
    width: 18px;
    height: 18px;
  }
  }
