/* Стилизизация элемента popup__elementview */
.popup__elementview {
  position: relative;
  margin: 95px auto auto auto;
  max-width: 75vw;
  max-height: 75vh;
}

@media screen and (max-width: 640px) {
  .popup__elementview {
    /*width: 240px;*/
    margin: 123px auto auto auto;
  }
}
