/* Стилизизация элемента profile__job */
.profile__job {
  font-family:  Inter, 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin: 0;
  padding: 10px 0 0 0;
}




@media screen and (max-width: 640px) {
  .profile__job {
    font-size: 14px;
    line-height: 17px;
  }
  }

