/* Стилизизация элемента popup__field */
.popup__field {
  padding: 0;
  margin: 0px 36px 30px 36px;

  font-family: Inter, 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}


/* Убираем выделение при фокусе и активации, для соответствия макету */
.popup__field:active, .popup__field:focus {
  outline: none;
 }



@media screen and (max-width: 640px) {
  .popup__field {
    margin: 0px 22px 30px 22px;

  }
}
